h1{
    background-color: lightblue;
    height: 300px;
    width: 300px;
    border: 3px solid rgb(193, 193, 255);
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    outline: 2px dashed salmon;
}
a{
    border-width: 3px;
    border-style: solid;
    border-color: red;
}